<footer>
  <div class="footer-container">
      <div class="footer-logo">
          <img id="img_footer" src="img/logo-branchos_0.jpg" >
      </div>
      <nav>
          
      </nav>
      <div class="footer-contact">
          <p>Dirección: 123 Calle Principal, Ciudad</p>
          <p>Teléfono: (123) 456-7890</p>
          <p>Correo Electrónico: info@misitioweb.com</p>
      </div>

     <div id="logos">
          <img src="/logos/descarga.png" >
          <img src="/logos/twiter.jpeg" >
          <img src="/logos/i.png" >
      </div>
    
  </div>
  <p class="footer-disclaimer">© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
</footer>
</body>
<script src="/js/funciones.js"></script>
</html>
