<%- include('../parciales/encabezado'); %>


<div class="form-compra">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre completo.
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Dirección de correo electrónico.
            </label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Dirección de entrega completa, incluyendo la calle,
                ciudad, código postal, estado/provincia y país.
            </label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Opciones de envío (por ejemplo, envío estándar,
                express).
            </label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Aceptar lo Terminos de condiciones</label>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('../parciales/footer'); %>
