<%- include('../parciales/encabezado'); %>

    <div class="form-compra">
        
        <form action="/newPersona" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="emailPersona" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>



            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="" class="form-control" name="nombrePersona" id="exampleInputPassword1">
            </div>



            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">telefono</label>
                <input type="" class="form-control" name="emailTelefono" id="exampleInputPassword1">
            </div>



            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">documento</label>
                <input type="" class="form-control" name="nombreDocumento" id="exampleInputPassword1">
            </div>
            <input type="submit" class="btn btn-primary">
            <a href="/verRegistros" class="btn btn-primary">Ver Registrados</a>
        </form>
    </div>

    <%- include('../parciales/footer'); %>